body {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family: "Ubuntu", sans-serif;
}


div.page {
    margin: 1em;
    max-width: 600px;
}

div.main_block {
    padding: 20px;
    margin-top: 5px;

    border: 1px solid #dddddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

div.footer {
    margin-top: 5px;
    text-align: center;
}


div.center {
    margin-left: auto;
    margin-right: auto;
}

div.block:first-child {
    margin-top: 0;
}

div.block {
    margin-top: 1em;
}

div.error_balloon {
    color: red;
    margin-top: 0.4em;
}


span.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;

    vertical-align: middle;
    margin-left: 7px;
}

img.logo {
    vertical-align: middle;
}


p {
    margin-bottom: 0;
}

p:first-child {
    margin-top: 0;
}

p+ul {
    margin-top: 0;
}


a {
    color: #45688e;
    text-decoration: none;
}


img {
    border-width: 0;
}


input {
    margin-top: 4px;
    border: #a9a9a9 1px solid;
}

input[type="submit"] {
    background: #dddddd;
}

input[type="text"], input[type="submit"] {
    padding: 0px 4px;
}

input[type="text"], input[type="submit"]{
    /* This hacks is to keep the inputs of the same height on all major browsers. */

    height: 2em;
    line-height: 2em;
    font-size: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

