<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>{% block no_title %}{% block title %}{% endblock %} - {% endblock %}ВКонтакте RSS</title>

        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="shortcut icon" href="/favicon.ico" />

        <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css" />

        {% block head %}{% endblock %}
    </head>

    <body lang="ru">
        <div class="center page">
            <a href="/">
                <img class="logo" src="/images/vk-rss.png" width="40" height="40" alt="" />
                <span class="logo">ВКонтакте RSS</span>
            </a>

            <div class="main_block">
                {% block body %}{% endblock %}
            </div>

            <div class="footer">
                &copy; <a href="http://konishchev.ru/" target="_blank">Дмитрий Конищев</a>&nbsp;&nbsp;
                <a href="https://github.com/KonishchevDmitry/vkfeed" target="_blank">Исходный код</a>&nbsp;&nbsp;
                Технологии <a href="http://code.google.com/appengine/" target="_blank">Google App Engine</a>
            </div>
        </div>
    </body>

</html>
