{% extends "base.html" %}

{% block no_title %}{% endblock %}

{% block head %}
    <script>
        var formInputFocused = false;

        function setFormInputFocus() {
            if(!formInputFocused)
                document.profile_url_form.profile_url.focus();
        }
    </script>
{% endblock %}

<!-- TODO radius -->
{% block body %}
    <div class="block">
        Данный сайт является неофициальным дополнением к сайту
        <a href="http://vkontakte.ru/" target="_blank">vkontakte.ru</a>
        и позволяет получать сообщения с публично-доступных стен в формате RSS.
    </div>

    <div class="block">
        <form name="profile_url_form" action="/" method="post">
            Введите URL страницы пользователя или группы:

            <table width="100%" cellpadding="0">
                <tr width="100%">
                    <td width="100%">
                        <input type="text" name="profile_url" style="width: 100%" onfocus="formInputFocused = true;" /></td>
                    <td>
                        <input type="submit" value="Сгенерировать RSS-ленту" />
                    </td>
                </tr>
            </table>

            {% if post_error %}
                <span class="error_balloon">* {{ post_error }}</span>
            {% endif %}
        </form>

        <script>
            setFormInputFocus();
        </script>
    </div>
{% endblock %}

