{% extends "base.html" %}

{% block no_title %}{% endblock %}

{% block head %}
    <script type="text/javascript">
        var formInputFocused = false;

        function setFormInputFocus() {
            if(!formInputFocused)
                document.profile_url_form.profile_url.focus();
        }
    </script>
{% endblock %}

{% block body %}
    <div class="block">
        Данный сервис является неофициальным дополнением к сайту
        <a href="http://vkontakte.ru/" target="_blank">vkontakte.ru</a>
        и позволяет получать сообщения с публично-доступных стен в формате
        <a href="http://orss.ru/" target="_blank">RSS</a>.
    </div>

    <div class="block">
        <form name="profile_url_form" action="/" method="post">
            Введите URL страницы пользователя или группы:

            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="100%">
                        <input type="text" name="profile_url" style="width: 100%" onfocus="formInputFocused = true;" />
                    </td>
                    <td>
                        <input type="submit" style="margin-left: 0" value="Сгенерировать RSS-ленту" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" name="foreign_posts" value="1" style="margin-left: 0; margin-top: 10px">
                            Отображать сообщения других пользователей в ленте
                        </input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" name="show_photo" checked="checked" value="1" style="margin-left: 0; margin-top: 10px">
                            Отображать фотографии пользователей
                        </input>
                    </td>
                </tr>
            </table>

            {% if post_error %}
                <div class="error_balloon">* {{ post_error }}</div>
            {% endif %}
        </form>

        <div class="block">
            <b>Внимание!</b> В связи с большим количеством пользователей
            сервиса и очень жесткими ограничениями
            <a href="http://code.google.com/appengine/" target="_blank">Google App Engine</a>
            на входящий и исходящий трафик, большая просьба пользоваться online
            RSS-читалками, которые кэшируют фиды на своей стороне
            (<a href="http://google.com/reader/" target="_blank">Google Reader</a>).
            Пользователи, запрашивающие RSS чаще, чем раз в 10-15 минут будут
            безжалостно баниться.
        </div>

        <script type="text/javascript">
            setFormInputFocus();
        </script>
    </div>
{% endblock %}

