{% extends "base.html" %}

{% block no_title %}{% endblock %}

{% block head %}
    <script type="text/javascript">
        'use strict';

        var formInputFocused = false;

        function setFormInputFocus () {
            if (!formInputFocused) {
                document.profile_url_form.profile_url.focus();
            }
        }

        function onready () {
            function getCookie (name) {
                name += '=';
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (0 === cookie.indexOf(name)) {
                        return cookie.substring(name.length, cookie.length);
                    }
                }
            }

            function setCookie (name, value) {
                var d = new Date();
                d.setTime(d.getTime() + 365 * 24 * 3600 * 1000);
                document.cookie = name + '=' + value + '; ' + 'expires=' + d.toGMTString();
            }

            function getDefaults () {
                var foreignPosts = getCookie('profile_url_form_foreign_posts');
                if (foreignPosts) {
                    return {
                        foreignPosts: 'true' === foreignPosts,
                        bigPhotos: 'true' === getCookie('profile_url_form_big_photos'),
                        showPhoto: 'true' === getCookie('profile_url_form_show_photo')
                    };
                }
            }

            function setFormValues (values) {
                var elements = document.forms.profile_url_form.elements;
                elements.foreign_posts.checked = values.foreignPosts;
                elements.big_photos.checked = values.bigPhotos;
                elements.show_photo.checked = values.showPhoto;
            }

            function getFormValues () {
                var elements = document.forms.profile_url_form.elements;
                return {
                    foreignPosts: elements.foreign_posts.checked,
                    bigPhotos: elements.big_photos.checked,
                    showPhoto: elements.show_photo.checked
                };
            }

            function setDefaults (defaults) {
                setCookie('profile_url_form_foreign_posts', defaults.foreignPosts);
                setCookie('profile_url_form_big_photos', defaults.bigPhotos);
                setCookie('profile_url_form_show_photo', defaults.showPhoto);
            }

            function delegateEvents () {
                document.forms.profile_url_form.onsubmit = function () {
                    setDefaults(getFormValues());
                };
            }

            var defaults = getDefaults();
            if (defaults) {
                setFormValues(defaults);
            }

            delegateEvents();
        }

        if ('complete' === document.readyState) {
            onready();
        } else {
            window.addEventListener('onload', onready, false);
            window.addEventListener('DOMContentLoaded', onready, false);
        }
    </script>
{% endblock %}

{% block body %}
    <div class="block">
        Данный сервис является self-hosted приложением, которое позволяет
        получать сообщения с публично-доступных стен
        <a href="http://vk.com/" target="_blank">vk.com</a> в формате
        <a href="http://orss.ru/" target="_blank">RSS</a>.
    </div>

    <div class="block">
        <form name="profile_url_form" action="/" method="post">
            Введите URL страницы пользователя или группы:

            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="100%">
                        <input type="text" name="profile_url" style="width: 100%" onfocus="formInputFocused = true;" />
                    </td>
                    <td>
                        <input type="submit" class="profile_url_form_submit" style="margin-left: 0" value="Сгенерировать RSS-ленту" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" name="foreign_posts" value="1" style="margin-left: 0; margin-top: 10px">
                            Отображать сообщения других пользователей в ленте
                        </input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" name="big_photos" value="1" style="margin-left: 0; margin-top: 10px">
                            Всегда отображать полноразмерные фото
                        </input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" name="show_photo" checked="checked" value="1" style="margin-left: 0; margin-top: 10px">
                            Отображать фотографии пользователей
                        </input>
                    </td>
                </tr>
            </table>

            {% if post_error %}
                <div class="error_balloon">* {{ post_error }}</div>
            {% endif %}
        </form>

        <div class="block">
            <b>Примечание:</b> сервис позволяет сгенерировать RSS-ленту
            исключительно для публично-доступных стен. Если вы хотите получать
            по RSS <a href="https://vk.com/feed">вашу ленту новостей</a>,
            то воспользуйтесь <a href="https://github.com/KonishchevDmitry/social-rss">Social RSS</a>.
        </div>

        <script type="text/javascript">
            setFormInputFocus();
        </script>
    </div>
{% endblock %}

